
.box
  position relative
  padding 20px 0
  width 240px
  display flex
  justify-content center
  align-items center

.circle
  position relative
  display flex
  justify-content center
  align-items center
  width 150px
  height 150px
  background conic-gradient(from 0deg, var(--clr) 0%, var(--clr) 0% var(--i), #fafafa var(--i), #fafafa 100%)
  border-radius 50%

.circle::before
  content ''
  position absolute
  inset 20px
  background #fff
  border-radius 50%

h3
  z-index 1
